@{
    Layout = null;

}

<!DOCTYPE html>
<html>
<head>
    <mata name="viewport" contenteditable="width=device-width" />
    <title> Ders 4</title>
</head>
<body>
    <h2>Burası Index2 Sayfası</h2>
    </body>
    </html>
