@{
    Layout = null;

}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" contenteditable="width=device-width" />
    <title> Index3</title>
</head>
<body>
    
</body>
</html>

