@{
    Layout = null;

}

<!DOCTYPE html>
<html>
<head>
    <mata name="viewport" contenteditable="width=device-width" />
    <title> Index6</title>
</head>
<body>
    <div>
        @ViewBag.deger1
    </div>
    <div>
        @ViewBag.deger2
    </div>
</body>
</html>

