@{
	Layout = null;
}

<h5>Deneme</h5>
<br />
<div>Burası deneme sayfasıdır</div>

@{
	var deger = "<b>Merhada</b>"+
	"<p style=\"color:blue; font-weight:bold\">Burası 2. cümle</p>";
	
}
@Html.Raw(deger)
